.button
    border-radius 15px
    border none
    background #5daf00
    font-size 1.3em
    height 5vh
    width 7vw
    &:hover
        background-color: #8aff03
        cursor pointer
        box-shadow: 3px 3px 3px #5daf00;
